<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
    <title>Timestamp</title>
</head>
<body>
    <h1 id="header" class="title">Timestamp Microservice</h1>
    <h3 id="title" class="title">Instructions</h3>
    <ol id="list">
        <li>Pass a number or natural language date (e.g. January 4, 2016) into the url</li>
        <li>Make sure that the original url is included as well, e.g. https://timestamp320.herokuapp.com//540804740</li>
        <li>See the results shown as unix time (milliseconds from January 1, 1970) and natural language</li>
        <li>??</li>
        <li>Profit</li>
    </ol>
    <p id="descriptionLinks">
        Check out the <a href="https://github.com/ajGingrich/Timestamp" target="_blank">github repository</a>
        or the <a href="https://www.freecodecamp.com/challenges/timestamp-microservice" target="_blank">description</a> from freeCodeCamp.
    </p>
</body>
</html>